#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navTitle {
  border-style: solid;
  border-width: 3px;
  padding: 30px;
  border-radius: 20px;
  border-color: rgb(37, 15, 15);
  background-color: rgb(185, 136, 96);
  box-shadow: 0 15px rgb(73, 26, 26);
  color: white;
  font-weight: bold;
  text-shadow: 0 3px rgba(0, 0, 0, 0.254);
}

.linksDiv {
  display: flex;
  flex-direction: column;
}

.flag {
  margin-top: 20px;
}

.bodyDiv {
  display: flex;
}

.details {
  height: 400px;
  width: 250px;
  border-color: black;
  border-style: solid;
  margin-top: 30px;
  margin-left: 50px;
}
